#s-7645ace9-c25d-415f-8db3-f1da40196a30 > #backgroundBox {
  position: absolute;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_1 {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_1 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_1 {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_1 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_1 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_1 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_2 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_2 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_3 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_3 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_2 {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_2 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_2 {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_2 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_4 {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_4 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_3 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_5 {
  position: absolute;
  width: 98.5286464691161px;
  height: 96.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_5 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_4 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_1 {
  position: absolute;
  width: 107.0px;
  min-height: 29.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_1 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #CA2A2A;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_5 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_6 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #shapewrapper-s-Line_1 marker {
  fill: #404040;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 294.0px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Line_1 {
  width: 294.0px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #404040;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Line_1 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_2 {
  position: absolute;
  width: 180.00000000000003px;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_2 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #CA2A2A;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_3 {
  position: absolute;
  width: 180.0000000000003px;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_3 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #CA2A2A;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_3 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_3 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_6 {
  position: absolute;
  width: 44.19400978088379px;
  height: 54.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_6 {
  box-shadow: none;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_7 {
  position: absolute;
  width: 46.99999999999977px;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7645ace9-c25d-415f-8db3-f1da40196a30 #s-Image_7 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7645ace9-c25d-415f-8db3-f1da40196a30 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}